{% extends "LiveBlogBundle::admin.html.twig" %}

{% block body %}
<div class="container">
    <h2>Désolé la page que vous cherchez n'éxiste pas ou plus !</h2>
    <p>Retournez donc à l'<a href="{{ path('index') }}">index</a> !</p>
</div>
{% endblock %}
