{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div style="margin-top: 100px"></div>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
