{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $.each($('.star'), function( key, value ) {
              $(value).raty({
                score: function() {
                  return $(this).attr('data-score');
                },
                click: function(score) {
                    console.log('cc');
                    $.ajax({
                        url: {{ path('instrument_update') }},
                        type: "post",
                        data:{
                            id: $(this).data('id'),
                            level: score
                        }
                  });
                }
              });
            });
        });
    </script>
{% endblock %}

{% block navbar %}
    {% include "LiveMainBundle::menu.html.twig" %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>

{% endblock %}
