{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% set user = app.user %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">Profil</a></li>
        <li><a href="#profile-edit" data-toggle="tab">Editer</a></li>
         <li><a href="#password" data-toggle="tab">Mot de Passe</a></li>
    </ul>
     <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="profile">
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        </div>
        <div class="tab-pane fade" id="profile-edit">
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
        </div>
        <div class="tab-pane fade" id="password">
            {% render(controller("FOSUserBundle:ChangePassword:changePassword")) %}
        </div>
    </div>


{% endblock fos_user_content %}
