<div class="span5 well">
    <div class="row">
        <div class="span1">
            <a href="#" class="thumbnail"><img src="http://critterapp.pagodabox.com/img/user.jpg" alt="">
            </a>
        </div>
        <div class="span3">
            <p>{{ user.username }}</p>
            <p><strong>{{ user.firstname }} {{ user.lastname }}</strong></p>
            <span class=" badge badge-warning">{{ user.email }}</span> <span class=" badge badge-info">15 followers</span>
        </div>
        <div class="span3">
            Guitare: <div class="star" data-score="1"></div>
            Basse: <div class="star" data-score="1"></div>
            Batterie: <div class="star" data-score="1"></div>
            Synthé: <div class="star" data-score="1"></div>
        </div>
    </div>
</div>
<div class="span6">
    <h3>Vous proposez les cours suivants:</h3>
            {% render(controller("LiveLessonBundle:Lesson:list", { 'user': app.user })) %}
    <h3>Vous cherchez des cours de:</h3>
    {% render(controller("LiveLessonBundle:LessonAsk:list", { 'user': app.user })) %}
</div>
