<div id="footer">
  <div class="container">
    <div class="row">

      <div class="span4">
        <ul id="social-list">
          <li><a id="facebook" href="https://www.facebook.com/live.efrei" data-toggle="popover" data-content="Rejoignez nous sur Facebook !"></a></li>
          <li><a id="twitter" href="https://twitter.com/Live_EFREI" data-toggle="popover" data-content="Suivez nous sur Twitter !"></a></li>
        </ul>
      </div>

      <div class="span4" id="contact-info">
        <br>
        <div><img src="{{ asset('img/icon48.png') }}" alt="">30-32 Avenue de la République, 94800 Villejuif</div>
        <div><img src="{{ asset('img/mail.png') }}" alt=""> live@efrei.fr</div>
      </div>

      <div class="span4">
        <ul id="dev-list">
          <li><a id="php" href="http://symfony.com/" data-toggle="popover" data-content="Propulsé par Symfony2 !"></a></li>
          <li><a id="jquery" href="http://jquery.com/" data-toggle="popover" data-content="Ainsi que jQuery..."></a></li>
          <li><a id="bootstrap" href="http://twitter.github.io/bootstrap/index.html" data-toggle="popover" data-content="et Twitter bootstrap !"></a></li>
          <li><a id="github" href="https://github.com/spyl94/live" data-toggle="popover" data-content="Code source sur GitHub ;-)"></a></li>
        </ul>
        <p id="copyrights">© 2013. Spyl.</p>
      </div>

    </div>
  </div>
</div>


