/**
    Main
**/

/** Fix footer end of page **/
html, body {
  height: 100%;
}

body {
    font-size: 18px;
    line-height: 32px;
}

#wrap {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
}

#menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 54px;
    display: block;
    color: yellow;
    background-image: -moz-linear-gradient(center top , #ffcc00, #fb9b00);
    background: #ffcc00; /* Old browsers */
    background: -moz-linear-gradient(center top, #ffcc00, #f7c438 53%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, #ffcc00, #fb9b00); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffcc00,#fb9b00); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffcc00,#fb9b00); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffcc00,#fb9b00); /* IE10+ */
    background: linear-gradient(to bottom, #ffcc00,#fb9b00); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#fb9b00',GradientType=0 ); /* IE6-9 */
}

#menu-logo img {
  margin-top: -15px;
}

#menu-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#menu-container ul {
    margin: 0;
    list-style: none;
    padding: 0 0;
}

#menu-container li {
    display: inline-block;
    float: left;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
#menu-container li:hover {
    background: white;
}

#menu-container li:hover a {
    color: #ffcc00;
}

#menu-container li a {
  display: block;
  padding: 0 25px;
  color: #fff;
  text-decoration: none;
  line-height: 54px;
}

#menu-container li a:hover { color: #ffcc00; }

/**
**/

.main li:hover > ul {
  display: block;
}

.main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 54px;
  z-index: 3000;
  background: white;
}

#menu-container .main ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
  -moz-box-shadow: 1px 1px 1px 0px #cfcfcf;
  -webkit-box-shadow: 1px 1px 1px 0px #cfcfcf;
  box-shadow: 1px 1px 1px 0px #cfcfcf;
}
/*
#menu-container .main ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

#menu-container .left ul a {
  padding: 10px;
  width: 222px;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  color: black;
}

#menu-container .right ul a {
  padding: 10px;
  width: 225px;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  color: black;
}

#menu-container #menu-user {
  margin-left: -135px;
}

#menu-container .main ul a:hover {
    color: #ffcc00;
}

/** fix box-shadow remove by background */
#menu-container .main ul li:hover {
    background: none;
  }

/**
  Slider
  **/

#slider {
    display: block;
    height: 400px;
    background: black;
}

#slider-bkg {
  position: relative;
  display: none;
  background: black;
  height: 400px;
  margin-top: -480px;
  z-index: -1;
}


/**
  Title & Buttons
  **/

a:link {
  text-decoration:none
}

.container p {
  text-align: justify;
}

h2 {
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h2.section-title {
    margin: 0 0 30px;
    padding: 0 0 8px;
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
    font-style: italic;
    color: #1a1a1a;
    border-bottom: 5px solid #e0e0e0;
}

h3.section-title {
    margin: 0 0 15px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    color: #1a1a1a;
}

.btn-action {
  font-size: 16px;
  border: none;
  background: #ffcc00;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.btn-big {
     display: block;
     padding: 9px 0 10px;
     text-align: center;
}

.btn-action:hover {
  background-color: orange;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

/**
  Post

**/

.posts-container {

}

.border {
  border-bottom: 1px solid #e0e0e0;
}
.post {
  padding-bottom: 10px;
}


h2.post-title {
  text-decoration: none!important;
  color: black;
  font-size: 36px;
}

h2.post-title:hover {
  color: #1a1a1a;
  text-decoration: none;
}

#author-category-date {
  margin-top: -10px;
  padding-bottom: 20px;
  color: #999999;
  font-size: 16px;
  height: 25px;
  line-height: 25px;
}

/**
 Footer

 **/

#footer {
     background: #1a1a1a; /* Old browsers */
     color: white;
     height: auto;
}
#footer p {
  text-align: center;
}

#facebook {
    background: #3B5998 url('../img/facebook-64.png') no-repeat center center;
}

#twitter {
    background: #4099FF url('../img/twitter-64.png') no-repeat center center;
}

#social-list, #dev-list {
    list-style: none;
    padding: 15px;
}

#social-list li, #dev-list li {
    display: inline-block;
}

#social-list li a {
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

#copyrights {
    color: grey;
    font-size: 14px;
    line-height: 14px;
}

#dev-list li a {
    display: block;
    width: 32px;
    height: 32px;
}

#contact-info {
    font-size: 14px;
    line-height: 14px;
}

#php {
    background: #4099FF url('../img/php-32.png') no-repeat center center;
}

#jquery {
    background: #4099FF url('../img/jquery-32.png') no-repeat center center;
}

#github {
    background: #4099FF url('../img/github-32.png') no-repeat center center;
}

#bootstrap {
    background: #4099FF url('../img/bootstrap-32.png') no-repeat center center;
}

.popover {
  color: black;
}

/** Form
**/

.content-form {
    display: block;
    background: #ffcc00;
    padding: 20px 10px 5px 10px;
    text-align: center;
    border-radius: 10px;
}

.content-form input {
  width: 80%;
  padding: 9px 12px 10px 32px;
}
.content-form a {
  color: grey;
  font-size: 12px;
  text-decoration: underline;
}
.content-form ul {
  list-style: none;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
}

#fos_user_registration_form_username, #username {
  background:#eaedf2 url('../img/login/user.png') 10px 13px no-repeat;
}
#fos_user_registration_form_email {
  background:#eaedf2 url('../img/login/email.png') 10px 15px no-repeat;
}
.content-form input[type="password"] {
  background:#eaedf2 url('../img/login/password.png') 10px 10px no-repeat;
}

.content-form .btn-submit {
  font-size: 16px;
  border: none;
  background: orange;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.btn-submit:hover {
  background: #EE9A49;
  color: #ffffff;
}

#_submit input {
  width: 90%;
  height: 50px;
  padding: 0 0 0 0;
}


.cercle {
  background:#ffcc00;
     background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#fb9b00));
   background: -webkit-linear-gradient(top, #ffcc00, #fb9b00);
  border-radius:50%;
}

.cercle p {
  padding: 60px 60px 60px 60px;
}

/***
  Bulle
**/

.bulle {
  position: relative;
  background-color: #eee;
}

.bulle:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.bulle:after {
  border-left-color: #eee;
  border-width: 15px;
  top: 50%;
  margin-top: -30px;
}

.bulle h2 {
  padding: 5px 10px 5px 10px;
  font-size: 20px;
}
