.container-fluid {
    min-height: 800px;
}

.am-wrapper{
    display: block;
    float:left;
    position:relative;
    overflow:hidden;
}
.am-wrapper img {
    position:absolute;
    outline:none;
}

ul {
    list-style: none;
}
