{% extends "LiveMainBundle::layout.html.twig" %}

{% block body %}
<div class="container">

  <h2 class="section-title">Local Live Efrei</h2>
  <div class="row">
    <div class="span8">
    <p>Toi le musicien, toi le passionné, toi, oui toi !  <br><br> Bienvenue dans Le Local ! <br>
Ici c'est ton royaume, ici c'est toi le roi ! Que la guitare, le clavier, la batterie, le chant ou la basse te fasse vibrer, c'est ici que tu dois aller !
<br><br>
Spécialement insonorisé pour ne gêner personne (hormis <a href="http://www.effor.fr/">EFFOR</a>, mais ils le méritent), tu pourras passer tes journées dedans !
Le matériel est complet pour pratiquer, apprendre ou juste t'éclater !
<br><br>
Positionné à côté de la K'Fet, tu ne peux pas le louper, il n'attend que toi !
<br>
Tu habites loin et tu aimes ton matériel ? Sais-tu que la serrure du Local sécurise tout le matériel qui peut être dedans ! Alors, ramène tes instrus, tes pédales, tes co***es et viens jammer ! <br><br></p>
  </div>
  <div class="span4"><img src="{{ asset('img/instruments/batterie.png') }}" alt=""></div>
</div>
<div class="row">
  <div class="span8">
    <p>
Tu as des talents de compositeur ? Tu te sens monter des inspirations divines ? Enregistre-les ! Le local est équipé pour ! Des micros à la batterie, tous les instruments sont amplifiés et peuvent s'enregistrer via une simple carte SD !
<br><br>
Et si après des heures de répète, tu as chaud, tu as soif, profites de la bière toujours disponible et n'oublies pas de remplir le frigo !
<br><br>
Il te faut un autre argument pour venir dans le local ? On a un thérémin !
Encore un ? Le local est neuf !
Un autre ? Tu peux composer sur ordinateur !
Tu en redemandes ? Alors viens jouer, partager, créer et profiter du local !
<br><br>
Rock On \m/
    </p>
  </div>
  <div class="span4 text-center"><img src="{{ asset('img/instruments/Saxo.jpg') }}" alt=""></div>
</div>
  <h2 class="section-title">Charte d'utilisation du local</h2>
  <ul class="ul-live">
    <li>L'accès au studio et l'utilisation de son matériel sont réservés aux membres adhérents à l'association Live Efrei, ainsi qu'aux membres adhérents des clubs LiX et Music Club Esigetel</li>
    <li>La mise à disposition du local se fait par réservation grâce aux moyens mis en place par l'association</li>
    <li>La priorité est donnée aux personnes ayant réservé le local</li>
    <li>La priorité sera également donnée aux activités d'enregistrement, de répétition, de production et de cours, toute autre activité sera tolérée en accord avec la charte</li>
    <li>Il est néanmoins possible d'utiliser le local sans réservation si celui-ci est disponible et qu'il y'a entente entre ses utilisateurs</li>
    <li>L'accès au local en dehors des heures d'ouverture de l'école dépend de la tolérance de l'administration de l'établissement</li>
    <li>Tout membre doit veiller à entretenir le matériel, le ranger, ainsi qu'à nettoyer le local si nécessaire</li>
    <li>Il est notamment interdit de dérégler ou de détériorer le matériel</li>
    <li>L'accès par carte électronique est individuel, et n'est pas voué à donner accès aux personnes non adhérentes</li>
    <li>Il est impératif de veiller à ce que le local soit fermé, pendant son utilisation, et en dehors</li>
    <li>Il est interdit de sortir, prêter ou emprunter du matériel mis à disposition par l'association</li>
    <li>En cas de dérangement du voisinage, celui-ci est prioritaire, et peut exiger la réduction du volume sonore, voir la cessation des activités</li>
    <li>La boisson et la nourriture sont tolérées dans le local dans la limite où l'état du local peut être préservé</li>
    <li>Les membres sont invités à participer au réassort du réfrigirateur</li>
    <li>Il est strictemment interdit de fumer dans le local sous peine d'exclusion</li>
    <li>Tous dysfonctionnements, détériorations, désagréments ou problèmes doivent être signalés au bureau</li>
    <li>En cas de problème, le membre ayant ouvert le local sera tenu comme responsable</li>
  </ul>

</div>

{% endblock %}
