{% extends "LiveMainBundle::layout.html.twig" %}

{% block body %}
<div class="container">

  <h2 class="section-title">Local Live Efrei</h2>
  <p>Le local est le lieu de vie principal de l'association et est réservés aux membres, tu pourras y accèder dès ton inscription !</p>

    <p>Tu peux enregistrer ect etc</p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, perferendis, placeat, laborum, itaque nisi consequatur dignissimos fuga hic deserunt possimus amet pariatur illum aperiam cumque eveniet reiciendis tempora accusantium sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, fuga, dolore mollitia natus itaque cupiditate dicta alias sequi veniam quas fugit numquam totam magnam aut maiores beatae sapiente voluptatum commodi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, facilis, non, earum magni blanditiis qui eveniet temporibus ad dignissimos aliquam incidunt libero voluptates nisi vero exercitationem sint reiciendis quo vitae.
  </p>

  <p>L'utilisation du local doit se faire dans le respect des règles suivantes :</p>

  <h2 class="section-title">Charte d'utilisation du local Live Efrei</h2>
  <ul class="ul-live">
    <li>L'accès au studio et l'utilisation de son matériel sont réservés aux membres adhérents à l'association Live Efrei, ainsi qu'aux membres adhérents des clubs LiX et Music Club Esigetel</li>
    <li>La mise à disposition du local se fait par réservation grâce aux moyens mis en place par l'association</li>
    <li>La priorité est donnée aux personnes ayant réservé le local</li>
    <li>La priorité sera également donnée aux activités d'enregistrement, de répétition, de production et de cours, toute autre activité sera tolérée en accord avec la charte</li>
    <li>Il est néanmoins possible d'utiliser le local sans réservation si celui-ci est disponible et qu'il y'a entente entre ses utilisateurs</li>
    <li>L'accès au local en dehors des heures d'ouverture de l'école dépend de la tolérance de l'administration de l'établissement</li>
    <li>Tout membre doit veiller à entretenir le matériel, le ranger, ainsi qu'à nettoyer le local si nécessaire</li>
    <li>Il est notamment interdit de dérégler ou de détériorer le matériel</li>
    <li>L'accès par carte électronique est individuel, et n'est pas voué à donner accès aux personnes non adhérentes</li>
    <li>Il est impératif de veiller à ce que le local soit fermé, pendant son utilisation, et en dehors</li>
    <li>Il est interdit de sortir, prêter ou emprunter du matériel mis à disposition par l'association</li>
    <li>En cas de dérangement du voisinage, celui-ci est prioritaire, et peut exiger la réduction du volume sonore, voir la cessation des activités</li>
    <li>La boisson et la nourriture sont tolérées dans le local dans la limite où l'état du local peut être préservé</li>
    <li>Les membres sont invités à participer au réassort du réfrigirateur</li>
    <li>Il est strictemment interdit de fumer dans le local sous peine d'exclusion</li>
    <li>Tous dysfonctionnements, détériorations, désagréments ou problèmes doivent être signalés au bureau</li>
    <li>En cas de problème, le membre ayant ouvert le local sera tenu comme responsable</li>
  </ul>

</div>

{% endblock %}
